# Crée le fichier .gitattributes dans ton projet
* text=auto

*.html text
*.css text
*.js text
*.md text
*.json text
*.txt text

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.ico binary
*.pdf binary
*.doc binary
